<div class="wrap-card">
    <!-- CLICKABLE CARD WRAPPER -->
    <h3 class=" fw-bold  pb-3 mt-4 text-white">In the Spotlight</h3>
    <div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            @for (item of whatNewData; track item; let i = $index) {
            <div ngxSlickItem class="card-body">

                <!-- Badge only for first item AND when badge exists -->
                @if (item.badge) {
                <div class="new-badge">{{ item.badge }}</div>
                }

                <div class="card-image">
                    <img [src]="item.imageUrl" alt="carouselImage" />
                </div>

                <a class="card-text card-label" [href]="item.downloadUrl" target="_blank">
                    {{ item.name }}
                </a>

            </div>
            }
        </ngx-slick-carousel>

        <!-- <owl-carousel-o [options]="customOptions">
            @for(img of images;track $index) {
            <ng-container>
                <ng-template class="slide" carouselSlide [id]="img">
                    <img [src]="img" [alt]="img" [title]="img">
                </ng-template>
            </ng-container>
            }
        </owl-carousel-o> -->
    </div>
</div>